{{#if isAdmin}}
     <div>
        <h1>Bienvenido admin!!</h1>
    </div>
{{else}}
    <div class='container text-center'>
        <h1 class='fw-bold fst-italic'>{{user.first_name}}, bienvenido a la tienda!</h1>
        <div class='row row-cols-3'>
            {{#each response.payload}}
                <div class='col card m-3' style='width: 18rem;'>
                    <img src='...' class='card-img-top' alt='...' />
                    <div class='card-body'>
                        <h5 class='card-title fw-bold'>{{this.title}}</h5>
                        <p class='card-text fw-semibold'>{{this.description}}</p>
                        <p class='card-text'>Precio: ${{this.price}}</p>
                        <p class='card-text'>Stock: {{this.stock}}</p>
                    </div>
                    <form action='/api/carts/{{../user.cart}}/product/{{this._id}}' method="post">
                        <button type="submit" class="btn btn-primary mb-2">Agregar al Carrito</button>
                    </form>
                </div>
            {{/each}}
        </div>
        <div>
            {{#if response.hasPrevPage}}
                <a href={{response.prevLink}}>
                    << Anterior
                </a>
            {{/if}}
            &nbsp;
            {{response.page}}
            &nbsp;
            {{#if response.hasNextPage}}
                <a href={{response.nextLink}}>
                    Siguiente >>
                </a>
            {{/if}}
        </div>
    </div>
{{/if}}